.mapboxgl-popup-close-button {
  top: 0.7rem !important;
  right: 0.7rem !important;
  font-size: 1rem !important;
  padding: 0.5rem !important;
}

.marker-popup-content {
  position: relative;
  padding-right: 2.5rem;
}

.marker-popup-content h3 {
  word-break: break-word;
  overflow-wrap: break-word;
  padding-right: 0.25rem;
}
